<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{contact.name}}</h4>
        <div class="row">
            <span class="pull-left">
                <img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive"
                    style="max-height: 100px;">
            </span>

            <span class="pull-right btn-toolbar" style="margin-top: 35px;">
                <a href="" class="btn btn-primary">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <p><strong>Email: </strong>{{contact.email}}</p>
        <p><strong>Phone: </strong>{{contact.phone}}</p>
    </div>
</div>